.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #c18eaf;
  background: linear-gradient(
    90deg,
    rgba(193, 142, 175, 1) 0%,
    rgba(235, 183, 108, 1) 50%,
    rgba(248, 212, 178, 1) 100%
  );

  .wrapper {
    .container {
      .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 5px;
        background: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 25px;
        height: calc(100vh - 200px);
        min-height: auto;

        .subtitle {
          margin: 0;
          font-size: 1rem;
          text-align: center;

          background: linear-gradient(90deg, #c18eaf, #ebb76c, #f8d4b2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text; /* default */
          color: transparent;
        }

        .title {
          margin: 0;
          font-size: 3rem;
          line-height: 3rem;
          color: #c18eaf;
          text-align: center;

          background: linear-gradient(90deg, #c18eaf, #ebb76c, #f8d4b2);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text; /* default */
          color: transparent;
        }

        .actions {
          margin-top: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .button {
            cursor: pointer;
            display: block;
            margin: 50px auto 0 auto;
            padding: 10px 20px;
            font-size: 1rem;
            background-color: #c18eaf;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #ebb76c;
            }
          }

          .buttonSecondary {
            cursor: pointer;
            margin-top: 5px;
            background-color: transparent;
            color: #d9b4c6;

            &:hover {
              color: #b78aa0;
            }
          }
        }
      }
    }
  }
}
